body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2D4A53;
  color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

/* Desktop-Ansicht */
@media (min-width: 638px) {
  #desk {
    display: block;
  }
  #mobile {
    display: none;
  }
  .image-container {
    width: 23.5%;
  }
}

/* Mobile Ansicht */
@media (max-width: 637px) {
  #desk {
    display: none;
  }
  #mobile {
    display: block;
  }
  .image-container {
    width: 45%;
  }
}

#navbutton{
  color: midnightblue;
  background-color: grey;
  border-radius: 8px;
  border-color: grey;
  outline-color: grey;
}

#ViewThings {
  padding: 6px;
}

.navbardesk{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 97%;
  max-height: 20px;
  margin-top: 10px;
  margin-left: 1.5%;
  background-color: #132E35;
  padding: 6px;
  align-items: center;
  border-radius: 5px;
  z-index: 15;
}

.navbarmobile{
  display: block;
  width: 95%;
  max-height: 80%;
  margin: 4% auto;
  background-color: #132E35;
  padding: 2px;
  align-items: center;
  border-radius: 5px;
}

nav ul{
  display: flex;
}

.nav-list a{
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;
}

.nav-list li{
  list-style: none;
  margin-right: 20px;
}

/*.nav-list a:hover{
  color: rgb(0, 0, 64, 1.0);
}*/

li a:hover {
  background-color: #0D1F23;
  color: whitesmoke;
  margin: 5px;
  padding: 5px;
  height: 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

#TopText {
  margin: 0.5%;
  width: 99%;
  border-radius: 5px;
  background-color: grey;
}

#centerText {
  text-align: center;
  background: whitesmoke;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textfade 3s ease-in 0s;
}

#centerTextMobile {
  text-align: center;
  background: whitesmoke;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textfade 3s ease-in 0s;
}

@keyframes textfade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#footer {
  padding: 1px 0;
  background-color: #0D1F23;
}

a {
  color: midnightblue;
}

.img-container-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
  border-radius: 10px;
  background-color: #A9BDA1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 10px 10px;*/
  margin: 4px;
}

/*.img-container img {
  opacity: 1;
  border-radius: 10px;
  border: 2px solid white;
  max-width: 300px;
  max-height: 300px;
  padding: 5px 5px;
  margin-left: 0.3%;
}*/

.image-overlay {
  margin-left: 0.3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Weißes Overlay mit Transparenz */
  opacity: 0; /* Das Overlay zu Beginn ausblenden */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s; /* Animationseffekt für das Ein- und Ausblenden */
  border-radius: 10px;
}

.image-text {
    text-align: center;
    color: #333; /* Textfarbe */
    font-weight: bold;
}

.image-container:hover .image-overlay {
    opacity: 1; /* Das Overlay einblenden, wenn das Bild gehovert wird */
}

@keyframes imagefade {
  0%{
    opacity: 0;
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}
