body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background-image: linear-gradient(to bottom right, rgb(36, 71, 143) , rgb(132, 163, 225));*/
  background-color: rgb(77, 77, 77, 1);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Desktop-Ansicht */
@media (min-width: 638px) {
  #desk {
    display: block;
  }
  #mobile {
    display: none;
  }
}

/* Mobile Ansicht */
@media (max-width: 637px) {
  #desk {
    display: none;
  }
  #mobile {
    display: block;
  }
}

#navbutton{
  color: midnightblue;
  background-color: grey;
  border-radius: 8px;
  border-color: grey;
  outline-color: grey;
}

#ViewThings {
  padding: 6px;
}

.navbardesk{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 97%;
  max-height: 20px;
  margin-top: 10px;
  margin-left: 1.5%;
  background-color: rgb(128, 128, 128, 0.8);
  padding: 6px;
  align-items: center;
  border-radius: 5px;
  z-index: 15;
}

.navbarmobile{
  display: block;
  width: 95%;
  max-height: 80%;
  margin: 4% auto;
  background-color: rgb(128, 128, 128, 0.7);
  padding: 2px;
  align-items: center;
  border-radius: 5px;
}

nav ul{
  display: flex;
}

.nav-list a{
  text-decoration: none;
  color: rgb(0, 0, 192, 1.0);
  transition: 0.5s;
}

.nav-list li{
  list-style: none;
  margin-right: 20px;
}

.nav-list a:hover{
  color: rgb(0, 0, 64, 1.0);
}

li a:hover {
  background-color: lightgray;
  color: midnightblue;
  margin: 5px;
  padding: 5px;
  height: 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

#TopText {
  margin: 0.5%;
  width: 99%;
  border-radius: 5px;
  background-color: grey;
}

#centerText {
  text-align: center;
  background: linear-gradient(to right, rgb(0, 0, 64) , rgb(0, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textfade 3s ease-in 0s;
}

#centerTextMobile {
  text-align: center;
  background: linear-gradient(to right, rgb(0, 0, 64) , rgb(0, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textfade 3s ease-in 0s;
}

@keyframes textfade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#footer {
  padding: 1px 0;
  background-color: rgb(51, 51, 51, 1);
}

img {
  margin-left: 0.3%;
  border-radius: 10px;
  border: 2px solid white;
  max-width: 99%;
  min-width: 25%;
  animation: imagefade 4s ease-in 0s;
}

a {
  color: midnightblue;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-overlay {
  margin-left: 0.3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Weißes Overlay mit Transparenz */
  opacity: 0; /* Das Overlay zu Beginn ausblenden */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s; /* Animationseffekt für das Ein- und Ausblenden */
  border-radius: 10px;
}

.image-text {
    text-align: center;
    color: #333; /* Textfarbe */
    font-weight: bold;
}

.image-container:hover .image-overlay {
    opacity: 1; /* Das Overlay einblenden, wenn das Bild gehovert wird */
}

@keyframes imagefade {
  0%{
    opacity: 0;
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}